<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.com.todayhome.mapper">
    <select id="bcSelectAll" resultType="test.com.todayhome.model.CommentsVO" parameterType="test.com.todayhome.model.BoardVO">
        SELECT
            NUM,
            BRD_NUM,
            MBR_NUM,
            NICKNAME,
            CONTENT,
            WDATE,
            COUNT(NUM) OVER(PARTITION BY BRD_NUM) CNT
        FROM BOARD_COMMENTS
        WHERE BRD_NUM = #{num}
    </select>
    
  	<select id="getcommentList" resultType="test.com.todayhome.model.CommentsVO">
  	  SELECT bc.NUM,
             bc.BRD_NUM,
             bc.MBR_NUM,
             bc.NICKNAME,
             bc.CONTENT,
             bc.WDATE,
             m.IMG MBR_IMG
  	  FROM BOARD_COMMENTS bc, MEMBER m
  	  WHERE bc.MBR_NUM = m.NUM
  	  AND BRD_NUM = #{brdNum}
  	  ORDER BY NUM ASC
 	</select>

</mapper>