@charset "UTF-8";

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.board-housing-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    border:0px solid red;
    width:1200px;
}

.boards-img-wrap {
  width: 370px; /* 고정된 너비 */
  height: 270px; /* 고정된 높이 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  border-radius: 10px;
  margin:12px;
   position: relative;
}

.boards-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s, filter 0.3s;
    object-fit: cover;
}

.boards-img:hover {
  transform: scale(1.05);
  filter: brightness(90%);
}

.housing-title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;	/*줄바꿈방지*/
  overflow: hidden;
  text-overflow: ellipsis; /*txt길면 ...표시*/
  width:360px;
  border:0px solid red;
    	margin-left: auto;  
  	margin-right: auto;  
 
}

.housing-nickname{
	font-size:14px;
	border:0px solid red;
	width:360px;
	margin-left: auto;
	margin-right: auto;
}

.housing-count{
    font-size:14px;
    border:0px solid red;
    width:360px;
    margin-left: auto;
    margin-right: auto;
}

.housing-boardNo{
    font-size:14px;
    border:0px solid red;
    width:360px;
    margin-left: auto;
    margin-right: auto;
}

.no-result-img{
    width: 256px;
    margin-top: 75px;
}

.no-result-text{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.boards-img-wrap-sub{
    overflow: hidden;
    height: 100%;
}