.menu-title{
    margin: 15px 0px 7px 8px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.swiper{
    margin-bottom: 10px;
    border: 2px solid #dadada !important;
    border-radius: 4px;
    width: 99% !important;
    min-width: 900px;
    height: fit-content !important;
}

.swiper-free-mode>.swiper-wrapper{
    margin: 0 !important;
}

.swiper-wrapper{
    padding: 10px;
    width: fit-content !important;
    height: fit-content !important;
    overflow: hidden;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.swiper-slide{
    width: fit-content !important;
    height: fit-content !important;
    display: flex;

}

.swiper-slide img{
    margin-right: 10px;
    height: 173px;
    width: 173px;
    border-radius: 4px;
}

.img-plusCircle{
    border: 2px dotted #dadada;
    opacity: 50%;
}